<section class="tos">
  <div class="header">
    <h1>Terms of Service</h1>
  </div>
  <section class="content">
    <div>
      <h3>LabSmart ONLINE SERVICE</h3>
      <p>Thank you for selecting the Services offered by LabSmart. Review these Terms of Service ("Agreement") thoroughly. This Agreement is a legal agreement between you and us. By accepting electronically (for example, clicking “I Agree”), installing, accessing or using the Services, you agree to these terms. If you do not agree to this Agreement, then you may not use the Services.</p>
    </div>
    <h3>A.GENERAL TERMS</h3>
    <div>
      <p class="topic">
        <b>1.AGREEMENT</b>
      </p>
      <p>This Agreement describes the terms governing your use of the LabSmart online services provided to you on this website, including content, updates and new releases, (collectively, the “Services”). It includes by reference.</p>
      <div class="margin-left-right-30">
        <p>LabSmart's Privacy Statement provided to you in the Services available on the website or provided to you otherwise.</p>
        <p>Additional Terms and Conditions, which may include those from third parties.</p>
        <p>Any terms provided separately to you for the Services, including product or program terms, ordering, activation, payment terms, etc.</p>
      </div>
    </div>
    <div>
      <p class="topic">
        <b>2. YOUR RIGHTS TO USE THE SERVICES</b>
      </p>
      <p>2.1 The Services are protected by copyright, trade secret, and other intellectual property laws. You are only granted the right to use the Services and only for the purposes described by LabSmart. LabSmart reserves all other rights in the Services. Until termination of this Agreement and as long as you meet any applicable payment obligations and comply with this Agreement, LabSmart grants to you a personal, limited, nonexclusive, non transferable right and license to use the Services.</p>
      <p>2.2 You agree not to use, nor permit any third party to use, the Services or content in a manner that violates any applicable law, regulation or this Agreement. You agree you will not:</p>
      <p class="margin-left-right-30">Provide access to or give any part of the Services to any third party produce, modify, copy, deconstruct, sell, trade or resell the Services.</p>
      <p class="margin-left-right-30">Make the Services available on any file-sharing or application hosting service.</p>
    </div>
    <div>
      <p class="topic">
        <b>3.PAYMENT</b>
      </p>
      <p>For Services offered on a payment or subscription basis, the following terms apply, unless LabSmart or its authorized distributors or vendors notifies you otherwise in writing. This Agreement also incorporates by reference and includes program ordering and payment terms provided to you on the website for the Services:</p>
      <p class="margin-left-right-30">a. Payments will be billed to you in Indian rupees, and your account will be debited when you subscribe and provide your payment information, unless stated otherwise in the program ordering or payment terms on the website for the Services.</p>
      <p class="margin-left-right-30">b. You must pay with one of the following:</p>
      <div class="margin-left-right-50">
        <p>1. 1. A valid credit card acceptable to LabSmart or its authorized distributors or vendors;</p>
        <p>2. 2. A valid debit card acceptable to LabSmart or its authorized distributors or vendors;</p>
        <p>3. 3. Sufficient funds in a checking or savings account to cover an electronic debit of the payment due;</p>
        <p class="center-bold">or</p>
        <p>4. 4. By another payment option LabSmart or its authorized distributors or vendors provides to you in writing.</p>
      </div>
      <div class="margin-left-right-30">
        <p>c. If your payment and registration information is not accurate, current, and complete and you do not notify us promptly when such information changes, we may suspend or terminate your account and refuse any use of the Services.</p>
        <p>d. If you do not notify us of updates to your payment method (e.g., credit card expiration date), to avoid interruption of your service, we may participate in programs supported by your card provider (e.g., updater services, recurring billing programs, etc.) to try to update your payment information, and you authorize us to continue billing your account with the updated information that we obtain.</p>
        <p>e. LabSmart or its authorized distributors or vendors will automatically renew your monthly or annual Services at the current rates, unless the Services are cancelled or terminated under this Agreement.</p>
        <p>f. Additional cancellation or renewal terms may be provided to you on the website for the Services.</p>
        <p>g. All authorized refunds will be made in the original form of payment to LabSmart or authorized distributors or vendor(s).</p>
      </div>
    </div>
    <div>
      <p class="topic">
        <b>4.USE WITH YOUR MOBILE DEVICE</b>
      </p>
      <p>Use of these Services may be available through a compatible mobile device, Internet access and may require software. You agree that you are solely responsible for these requirements, including any applicable changes, updates and fees as well as the terms of your agreement with your mobile device and telecommunications provider.</p>
      <p class="highlight">LABSMART MAKES NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED AS TO.</p>
      <div class="highlight margin-left-right-30">
        <p>(i) THE AVAILABILITY OF TELECOMMUNICATION SERVICES FROM YOUR PROVIDER AND ACCESS TO THE SERVICES AT ANY TIME OR FROM ANY LOCATION;</p>
        <p>(ii) ANY LOSS, DAMAGE, OR OTHER SECURITY INTRUSION OF THE TELECOMMUNICATION SERVICES; AND</p>
        <p>(iii) ANY DISCLOSURE OF INFORMATION TO THIRD PARTIES OR FAILURE TO TRANSMIT ANY DATA, COMMUNICATIONS OR SETTINGS CONNECTED WITH THE SERVICES.</p>
      </div>
    </div>
    <div>
      <p class="topic">
        <b>5.YOUR PERSONAL INFORMATION</b>
      </p>
      <p>You can view LabSmart’s Privacy Statement provided with the Services and on the website for the Services. You agree to the applicable LabSmart Privacy Statement, and changes published by LabSmart. You agree that LabSmart may use and maintain your data according to the LabSmart Privacy Statement, as part of the Services. You also give LabSmart permission to aggregate your non-personally identifiable data which you enter or upload with that of other users of the Services. For example, this means that LabSmart may use that aggregated data to improve services, design promotions, or provide ways for you to compare business practices with other users.</p>
    </div>
    <div>
      <p class="topic">
        <b>6.CONTENT</b>
      </p>
      <p>
        <span class="topic-header">6.1 You are responsible for your content.</span>
        You are legally responsible for all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials ("Content"), which is uploaded, posted or stored through your use of the Services. You grant LabSmart a worldwide, royalty-free, non-exclusive license to host and use the Content in order to provide you with the Services. You agree not use the Services for any illegal purpose or in violation of any applicable law or regulation. You are encouraged to archive your Content regularly and frequently. You are responsible for any Content that may be lost or unrecoverable through your use of the Services. You must provide all required and appropriate warnings, information and disclosure. You agree that you will not use the Services to share, store, or in any way distribute financial data that is not in accordance with the law. Any users suspected of having information which involves fraud, embezzlement, money laundering, insider trading, support for terrorism, or any other activity proscribed by law may have their accounts terminated, their financial data erased, and they also may be reported to law enforcement officials in the appropriate jurisdictions. LabSmart is not responsible for the Content or data you submit on the website.
      </p>
      <p>You agree not to use the Services to upload, post, distribute, link to, publish, reproduce, engage in or transmit any of the following, including but not limited to:</p>
      <div class="highlight margin-left-right-30">
        <p>a. Fraudulent, libelous, offensive, inappropriate or objectionable information or communications of any kind, including without limitation conduct that would encourage or constitute an attack or "flaming" others, or criminal or civil liability under any local or foreign law; indecent, profane (including masked profanity where symbols, initials, intentional misspellings or other characters are used to suggest profane language), obscene, lascivious, sexually explicit, pornographic, abusive, threatening, menacing, misleading, derogatory, illegal or defamatory information or communication, that is likely to disturb public tranquility and peace, cause feelings of enmity, hatred or ill will between different religious, racial, language or regional groups or castes or communities or disrupts the harmony between them or provokes disturbance, causes hurt to the religious sentiments of a community or insults the modesty of a woman or which contain false information about any person or organization or harms such persons life, reputation and/or property, or any material that interferes with the ability of others to enjoy or utilize the Services. We do not tolerate harassment, or denigration based on age, gender, race, religion, national origin, sexual orientation or disability;</p>
        <p>b. Content or data that would impersonate someone else or falsely represent your identity or qualifications, or that constitutes a breach of any individual’s privacy, including posting images about children or any third party without their consent (or a parent's consent in the case of a minor);</p>
        <p>c. Except as otherwise permitted by LabSmart in writing, advertisements, solicitations, investment opportunities, solicitations, chain letters, pyramid schemes, other unsolicited commercial communication or engage in spamming or flooding;</p>
        <p>d. Virus, trojan horse, worm or other disruptive or harmful software or data; and</p>
        <p>e. Any information, software or Content which is not legally yours and may be protected by copyright or other proprietary right, or derivative works, without permission from the copyright owner or intellectual property rights owner.</p>
      </div>
      <p>
        <span class="topic-header">6.2 Community forums.</span>
        The Services may include a community forum or other social features to exchange Content and information with other users of the Services and the public. Please use respect when you interact with other users. Do not reveal information that you do not want to make public. Users may post hypertext links to content of third parties for which LabSmart is not responsible.
      </p>
      <p>
        <span class="topic-header">6.3 LabSmart may freely use feedback you provide.</span>
        You agree that LabSmart may use your feedback, suggestions, or ideas in any way, including in future modifications of the Services, other products or services, advertising or marketing materials. You grant LabSmart a perpetual, worldwide, fully transferable, sub licensable, non-revocable, fully paid-up, royalty free license to use the feedback you provide to LabSmart in any way.
      </p>
      <p>
        <span class="topic-header">6.4 LabSmart may monitor your Content.</span>
        LabSmart may, but has no obligation to, monitor content on the Services. We may disclose any information necessary to satisfy our legal obligations, protect LabSmart or its customers, or operate the Services properly. LabSmart, in its sole discretion, may refuse to post, remove, or refuse to remove, any Content, in whole or in part, alleged to be unacceptable, undesirable, inappropriate, or in violation of this Agreement.
      </p>
    </div>
    <div>
      <p class="topic">
        <b>7.ADDITIONAL TERMS</b>
      </p>
      <p>
        <span class="topic-header">7.1 LabSmart does not give professional advice.</span>
        Unless specifically included with the Services, LabSmart is not in the business of providing legal, financial, accounting, tax, health care, real estate or other professional services or advice. Consult the services of a competent professional when you need this type of assistance.
      </p>
      <p>
        <span class="topic-header">7.2 We may tell you about other LabSmart services.</span>
        You may be offered other services, products, or promotions by LabSmart ("LabSmart Services"). Additional terms and conditions and fees may apply. With some LabSmart Services you may upload or enter data from your account(s) such as names, addresses and phone numbers, purchases, etc., to the Internet. You grant LabSmart permission to use information about your business and experience to help us to provide the LabSmart Services to you and to enhance the Services. You grant LabSmart permission to combine your business data, if any, with that of others in a way that does not identify you or any individual personally. You also grant LabSmart permission to share or publish summary results relating to research data and to distribute or license such data to third parties.
      </p>
      <p>
        <span class="topic-header">7.3 Communications.</span>
        LabSmart may be required by law to send you communications about the Services or Third Party Products. You agree that LabSmart may send these communications to you via email or by posting them on our websites
      </p>
      <p>
        <span class="topic-header">7.4 You will manage your passwords and accept updates.</span>
        You are responsible for securely managing your password(s) for the Services and to contact LabSmart if you become aware of any unauthorized access to your account. The Services may periodically be updated with tools, utilities, improvements, third party applications, or general updates to improve the Services. You agree to receive these updates.
      </p>
    </div>
    <div>
      <p class="topic">
        <b>8.DISCLAIMER OF WARRANTIES</b>
      </p>
      <p>
        <span class="topic-header">8.1</span>
        YOUR USE OF THE SERVICES, SOFTWARE, AND CONTENT IS ENTIRELY AT YOUR OWN RISK. EXCEPT AS DESCRIBED IN THIS AGREEMENT, THE SERVICES ARE PROVIDED "AS IS." TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, LABSMART, ITS AFFILIATES, AND ITS THIRD PARTY PROVIDERS, LICENSORS, DISTRIBUTORS OR SUPPLIERS (COLLECTIVELY,"SUPPLIERS") DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTY THAT THE SERVICES ARE FIT FOR A PARTICULAR PURPOSE, TITLE, MERCHANTABILITY, DATA LOSS, NON-INTERFERENCE WITH OR NON-INFRINGEMENT OF ANY INTELLECTUAL PROPERTY RIGHTS, OR THE ACCURACY, RELIABILITY, QUALITY OR CONTENT IN OR LINKED TO THE SERVICES. LABSMART AND ITS AFFILIATES AND SUPPLIERS DO NOT WARRANT THAT THE SERVICES ARE SECURE, FREE FROM BUGS, VIRUSES, INTERRUPTION, ERRORS, THEFT OR DESTRUCTION. IF THE EXCLUSIONS FOR IMPLIED WARRANTIES DO NOT APPLY TO YOU, ANY IMPLIED WARRANTIES ARE LIMITED TO 60 DAYS FROM THE DATE OF PURCHASE OR DELIVERY OF THE SERVICES, WHICHEVER IS SOONER.
      </p>
      <p>
        <span class="topic-header">8.2</span>
        LABSMART, ITS AFFILIATES AND SUPPLIERS DISCLAIM ANY REPRESENTATIONS OR WARRANTIES THAT YOUR USE OF THE SERVICES WILL SATISFY OR ENSURE COMPLIANCE WITH ANY LEGAL OBLIGATIONS OR LAWS OR REGULATIONS.
        YOU ARE SOLELY RESPONSIBLE FOR ENSURING THAT YOUR USE OF THE SERVICES ARE IN ACCORDANCE WITH APPLICABLE LAW. NOTWITHSTANDING THE FOREGOING, NO PROVISION OF THIS AGREEMENT SHALL EXCLUDE OR LIMIT LIABILITY TO THE EXTENT THAT SUCH EXCLUSION OR LIMITATION IS PROHIBITED BY THE APPLICABLE LAWS OF INDIA AND FOR THE AVOIDANCE OF DOUBT LABSMART DOES NOT EXCLUDE OR LIMIT LIABILITY FOR: (I) DEATH OR PERSONAL INJURY CAUSED BY ITS NEGLIGENCE OR THE NEGLIGENCE OF ITS OFFICERS, EMPLOYEES, CONTRACTORS OR AGENTS; (II) FRAUD OR FRAUDULENT MISREPRESENTATION; (III) ANY OTHER LIABILITY WHICH CANNOT BE LAWFULLY EXCLUDED BY CONTRACTUAL AGREEMENT OF THE PARTIES.
      </p>
    </div>
    <div>
      <p class="topic">
        <b>9.bLIMITATION OF LIABILITY AND INDEMNITY</b>
      </p>
      <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE ENTIRE LIABILITY OF LABSMART, ITS AFFILIATES AND SUPPLIERS FOR ALL CLAIMS RELATING TO THIS AGREEMENT SHALL BE LIMITED TO THE AMOUNT YOU PAID FOR THE SERVICES DURING THE TWELVE (12) MONTHS PRIOR TO SUCH CLAIM. SUBJECT TO APPLICABLE LAW, LABSMART, ITS AFFILIATES AND SUPPLIERS ARE NOT LIABLE FOR ANY OF THE FOLLOWING: (A) INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES; (B) DAMAGES RELATING TO FAILURES OF TELECOMMUNICATIONS, THE INTERNET, ELECTRONIC COMMUNICATIONS, CORRUPTION, SECURITY, LOSS OR THEFT OF DATA, VIRUSES, SPYWARE, LOSS OF BUSINESS, REVENUE, PROFITS OR INVESTMENT, OR USE OF SOFTWARE OR HARDWARE THAT DOES NOT MEET LABSMART SYSTEMS REQUIREMENTS. THE ABOVE LIMITATIONS APPLY EVEN IF LABSMART AND ITS AFFILIATES AND SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THIS AGREEMENT SETS FORTH THE ENTIRE LIABILITY OF LABSMART, ITS AFFILIATES AND YOUR EXCLUSIVE REMEDY WITH RESPECT TO THE SERVICES AND ITS USE.</p>
      <p>You agree to indemnify and hold LabSmart and its Affiliates and Suppliers harmless from any and all claims, liability and expenses, including reasonable attorneys' fees and costs, arising out of your use of the Services or breach of this Agreement (collectively referred to as "Claims"). LabSmart reserves the right, in its sole discretion and at its own expense, to assume the exclusive defense and control of any Claims. You agree to reasonably cooperate as requested by LabSmart in the defense of any Claims.</p>
    </div>
    <div>
      <p class="topic">
        <b>10.CHANGES.</b>
      </p>
      <p>We reserve the right to change this Agreement at any time, and the changes will be effective when posted through the Services, on our website for the Services or when we notify you by other means. We may also change or discontinue the Services, in whole or in part. Your continued use of the Services indicates your agreement to the changes.</p>
    </div>
    <div>
      <p class="topic">
        <b>11.TERMINATION.</b>
      </p>
      <p>LabSmart may immediately, in its sole discretion and without notice terminate this Agreement or suspend the Services if you fail to comply with this Agreement or if you no longer agree to receive electronic communications. Upon termination you must immediately stop using the Services and any outstanding payments will become due. Any termination of this Agreement shall not affect LabSmart’s rights to any payments due to it. LabSmart may terminate a free account at any time. Sections 2.2, 3 through 14 will survive and remain in effect even if the Agreement is terminated.</p>
    </div>
    <div>
      <p class="topic">
        <b>12. EXPORT RESTRICTIONS</b>
      </p>
      <p>You acknowledge that the Services, including the mobile application, and the underlying software may include U.S. technical data subject to restrictions under export control laws and regulations administered by the United States government. You agree that you will comply with these laws and regulations, and will not export or re-export any part of the Services, in violation of these laws and regulations, directly or indirectly.</p>
    </div>
    <div>
      <p class="topic">
        <b>13.GOVERNING LAW.</b>
      </p>
      <p>This Agreement shall be governed by, subject to and interpreted in accordance with the laws of India, and, any dispute arising out of or relating to this Agreement, or the breach thereof, whether occurring while this Agreement is in effect or thereafter, shall be submitted exclusively to binding arbitration pursuant to the (Indian) Arbitration and Conciliation Act, 1996 by an arbitrator selected in accordance with such Act and agreed to by the parties. The arbitration proceeding shall take place at Bangalore, India and shall be conducted in the English language, including notices between the parties. Notices between the parties shall be by personal delivery, facsimile transmission, or certified or registered mail, return receipt requested, and shall be deemed given upon receipt at the address of the recipient party or ten (10) days after deposit in the mail. If the notice is to LabSmart, it shall be sent to the attention of the Legal Department. Each party shall pay its own legal fees of and incidental to the preparation, completion and enforcement of this Agreement. In the event of any invalidity of any provision of this Agreement, the parties agree that such invalidity shall not affect the validity of the remaining portions of this Agreement, and further agree to substitute for the invalid provision a valid provision which most closely approximates the intent and economic effect of the invalid provision.</p>
    </div>
    <div>
      <p class="topic">
        <b>14.LANGUAGE</b>
      </p>
      <p>Any translation of this Agreement is done for local requirements and in the event of a dispute between the English and any non-English version, the English version of this Agreement shall govern. The parties hereby confirm that they have requested that this Agreement and all related documents be drafted in English.</p>
    </div>
    <div>
      <p class="topic">
        <b>15.GENERAL</b>
      </p>
      <p>This Agreement, including the Additional Terms below, is the entire agreement between you and LabSmart and replaces all prior understandings, communications and agreements, oral or written, regarding its subject matter. If any court of law, having the jurisdiction, rules that any part of this Agreement is invalid, that section will be removed without affecting the remainder of the Agreement. The remaining terms will be valid and enforceable. The United Nations Convention on Contracts for the International Sale of Goods does not apply to this Agreement. You cannot assign or transfer ownership of this Agreement to anyone without written approval of LabSmart. However, LabSmart may assign or transfer it without your consent to (a) an affiliate, (b) a company through a sale of assets by LabSmart or (c) a successor by merger. Any assignment in violation of this Section shall be void. If you want to request a transfer of this Agreement, contact LabSmart via an email to: transfer_license@LabSmart.com. If applicable, you agree to pay any documentary stamp taxes fees (where applicable) and registration fees with respect to this Agreement. To the extent that this Agreement is to be registered or recorded with the competent authority under the relevant laws, you agree to be responsible to complete such registration or record in a timely manner.</p>
    </div>
    <div class="bottom-end"></div>
  </section>
</section>
