/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

.tos{
  .header{
    font-family: "Geogrotesque", "Calibri", "Trebuchet MS", sans-serif;
    font-size: 18px;
    margin: 40px 0px 0px 15px;
  }
  .content{
    margin-left: 15px;
    font-family: "Avenir Next LT Pro", "Avenir Next", "Futura", sans-serif;
  }
  .center-bold{
    text-align: center;
    font-weight: bold;
  }
  .highlight{
    font-size: 18px;
  }
  .topic-header{
    font-weight: bold;
    font-size: 18px;
  }
  .margin-left-right-30{
    margin-left: 30px;
    margin-right: 30px;
  }
  .margin-left-right-50{
    margin-left: 50px;
    margin-right: 50px;
  }
  .topic{
    font-size: 20px;
  }
  .bottom-end{
    margin-bottom: 40px;
  }
}
